@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  --Light-red: hsl(0, 100%, 98%);
  --Orangey-yellow: hsl(42, 100%, 97%);
  --Green-teal: hsl(173, 53%, 97%);
  --Cobalt-blue: hsl(240, 71%, 97%);

  --Light-slate-blue: hsl(252, 100%, 67%);
  --Ligh-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
}

main {
  display: grid;
  place-content: center;
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.wrapper {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 30px;
  display: flex;
  border-radius: 30px;
}

.result-card {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 30px;
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue),
    var(--Ligh-royal-blue)
  );
  text-align: center;
}

.result-card h1 {
  color: var(--Light-lavender);
  font-size: 22px;
}

.result-card .circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    var(--Violet-blue),
    var(--Persian-blue)
  );
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.result-card .circle h1 {
  font-size: 50px;
  color: var(--White);
}

.result-card .circle small {
  font-size: 16px;
  color: var(--Light-lavender);
  opacity: 0.5;
}

.result-card h2 {
  font-size: 1.5rem;
  color: var(--White);
}

.result-card .desc {
  font-size: 0.9rem;
  color: var(--Light-lavender);
  margin-top: 0.5rem;
  opacity: 0.8;
}

.rate-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.rate-card .title {
  font-size: 22px;
  color: var(--Dark-gray-blue);
}

.rate-items {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.rate-items .rate-item {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem;
  border-radius: 15px;
}

.rate-items .rate-item .rate-item-text {
  display: flex;
  gap: 10px;
}

.rate-items .rate-item .rate-item-text h3 {
  font-size: 1rem;
}

.rate-items .rate-item.reaction {
  background: var(--Light-red);
}

.rate-items .rate-item.reaction .rate-item-text h3 {
  color: hsl(0, 100%, 67%);
}

.rate-items .rate-item.memory {
  background: var(--Orangey-yellow);
}

.rate-items .rate-item.memory .rate-item-text h3 {
  color: hsl(39, 100%, 56%);
}

.rate-items .rate-item.Verbal {
  background: #f2fbfa;
}

.rate-items .rate-item.Verbal .rate-item-text h3 {
  color: hsl(166, 100%, 37%);
}

.rate-items .rate-item.visual {
  background: var(--Cobalt-blue);
}

.rate-items .rate-item.visual .rate-item-text h3 {
  color: hsl(234, 85%, 45%);
}

h3 span {
  opacity: 0.4;
}

.btn {
  margin-top: 1rem;
  padding: 0.8rem 1rem;
  text-align: center;
  border: 0;
  outline: 0;
  background-color: var(--Dark-gray-blue);
  color: #fff;
  font-size: 1rem;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(
    to right,
    var(--Light-slate-blue),
    var(--Ligh-royal-blue)
  );
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 400px) {
  body {
    display: block;
  }
  .wrapper {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .result-card {
    max-width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .rate-card {
    width: 100%;
    border-radius: 0;
  }

  footer {
    display: none;
  }
}
